 <div class="row justify-content-center search">
    <div class="col-sm-3 my-3">
      <%= form_with url: list_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control rounded-pill ps-3",
                placeholder: "Search"
          %>
        </div>
      <% end %>
  </div>
