<div class="row justify-content-center search">
  <div class="col-sm-3 my-3">
    <%= form_with url: list_path, method: :get, class: "d-flex" do %>
      <div class="input-container">
        <i class="fa fa-search search-icon"></i>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-pill ps-3",
            placeholder: ""
      %>
      </div>
    <% end %>
  </div>
</div>
