<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://files.oaiusercontent.com/file-858EBnP7KUz3ycNTz8VhGm?se=2024-11-25T16%3A25%3A43Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dd354075f-2895-4221-ba38-c12b03dff0dd.webp&sig=oWGFsgt6vOfwqPG6w8lvpjGMBIRr8SUb6hiZhTVbQ2M%3D');">
  <div class="container">
    <h1><strong>ExpatUs</strong></h1>
    <p>Find your community</p>
  </div>
</div>

