<div class="footer">
    <%= link_to image_tag('chats.png', class: "footer-icon"), yourchats_path %>
    <%= link_to image_tag('home.png', class: "footer-icon"), list_path %>
    <%= link_to image_tag('avatar.png', class: "footer-icon"), user_path %>
</div>
