<div class="footer">
    <%= link_to image_tag('chats', class: "footer-icon") %>
    <%= link_to image_tag('home', class: "footer-icon"), list_path %>
    <%= link_to image_tag('avatar', class: "footer-icon") %>
</div>
