<div class="footer">
    <%= link_to image_tag('chats', class: "footer-icon"), yourchats_path %>
    <%= link_to image_tag('home', class: "footer-icon"), list_path %>
    <%= link_to image_tag('avatar', class: "footer-icon"), user_path %>
</div>
