<div><%= render "banner" %></div>


<div class="description">
  <p>Find group chats that match your needs and interests —or create ones that make you feel at home</p>
</div>

<div class="button-container">
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
  <%= link_to "Log In", user_session_path, class: "btn btn-secondary" %>
</div>
