.app-background {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #A8E6CF, #D4E157, #9C27B0, #BA68C8);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.description p {
  max-width: 80vw;
}

.btn-secondary {
  display: block; /* Ensure buttons are block-level elements */
  text-align: center;
  background-color: #5E9C6B;
  color: white;
  border: 2px solid #5E9C6B;
  border-radius: 10px;
  width: 60%;
  width: 10em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
  background-color: #3D6545;
  color: white;
  border-color: #3D6545;
  transform: scale(1.05);
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  gap: 10px;
  max-width: 300px;
  margin: 0 auto; /* Center the container horizontally */
  align-items: center;
}
