.simple-form {
  width: 80%;
  max-width: 500px; // Optional: Set a max-width for the form
  margin: 0 auto; // Center the form horizontally
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.263);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  text-align: left;
  margin-bottom: 20px;
}

