.search ::placeholder {
  color: rgb(159, 159, 159);
}

.search {
  display: flex;
  justify-content: center; /* Centers the row horizontally */
  align-items: center; /* Aligns vertically (optional) */
  margin: 0 auto;
}

.search {
  .col-sm-3 {
    display: flex;
    justify-content: center; // Align content in the center
  }
}
