.search ::placeholder {
  color: rgb(159, 159, 159);
}

.search {
  .col-sm-3 {
    margin: 0 auto; // Center the column horizontally
    display: flex;
    justify-content: center; // Align content in the center
  }
}

