.input-container {
  position: relative;
  width: 40px;
  transition: width 0.3s ease; /* Smooth transition */
  overflow: hidden; /* Prevent overflow when collapsed */
  margin-left: 20px;
}

.input-container.active {
  width: 350px; /* Full expanded width */
}

.input-container input {
  width: 100%;
  padding-left: 45px !important; /* Space for the icon */
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none; /* Disable input when collapsed */
  box-sizing: border-box;
}

.input-container.active input {
  opacity: 1; /* Fully visible */
  pointer-events: all; /* Enable input when expanded */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  cursor: pointer;
}
